.App {
  display: flex;
  flex-direction: column; 
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.sidebar {
  background-color: #202024;
  color: #edeef0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-content {
  text-align: center;
}


.img-custome {
  object-fit: cover;
  height: 360px;
  width: 220px;
  border-radius: 3%;
}

section {
  margin: 7rem 5rem 9rem 5rem;
}

.main-content {
  padding: 1.25em;
  overflow-y: auto;
  background-color: #18181b;
  color: #edeef0;
}

h2 {
  margin: 1rem 0 1.5rem 0;
}

.btn {
  margin-top: 1rem;
}

.btn:hover {
  background-color: #8d50dc;
}

.btn-slider {
  background-color: #202024;
  color:white;
  border: 0.5px solid white;
}

.btn:hover {
  background-color: #8d50dc;
  color: white;
}

.link_custom-color {
  color: #8d50dc;
}

.custom-icon {
  margin: 1rem;
  width: 28px;
  height: 28px;
  color: #8d50dc;
}

.custom-icon:hover {
color: #a170e0;
}

.star-list {
  list-style: none;
  padding: 0; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.star-list li::before {
  content: "🌟"; 
  margin-right: 0.5em; 
}

.star-list li {
  text-align: left;
}

/* Mobile */
@media (max-width: 767px) {
  .sidebar {
    position: relative;
    order: 2; 
    width: 100%;
  }

  .main-content {
    margin-left: 0; 
  }
}

.form-group {
  margin-bottom: 15px;
}



/* Desktop */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 25%;
    order: 1; 
  }

  .main-content {
    margin-left: 25%;
    padding-left: 30px;
  }

.form-container {
  max-width: 65%;
  margin: 5rem auto;
}
}
