/* rem? */

.App {
  display: flex;
  flex-direction: column; 
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  background-color: #262626;
  color: #edeef0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-content {
  text-align: center;
}

.main-content {
  padding: 20px;
  overflow-y: auto;
  background-color: #232323;
  color: #edeef0;
}

.btn {
  margin-top: 20px;
}

.btn:hover {
  background-color: #8d50dc;
}

section {
  margin: 3rem 2rem;
}

/* Mobile */
@media (max-width: 767px) {
  .sidebar {
    position: relative;
    order: 2; 
    width: 100%;
  }

  .main-content {
    margin-left: 0; 
  }
}

/* Desktop */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    order: 1; 
  }

  .main-content {
    margin-left: 300px;
    padding-left: 30px;
  }
}
